.App {
  display: flex !important;
  height: 100% !important;
}

.App-menu {
  display: flex !important;
  flex-direction: column !important;
  height: 100% !important;
  min-width: 56px;
  width: 56px !important;
}

.App-list {
  max-width: 300px;
  min-width: 300px;
  overflow: auto;
  width: 300px;
}

.App-list-menu {
  height: 100%;
}

.App-text {
  border: initial;
  padding-left: 8px !important;
  padding-right: 8px !important;
  resize: none;
  width: 100% !important;
}

.App-text:focus {
  outline: none;
}

/* Ant Design のコンポーネントに適用するスタイル */

.App-menu > .ant-menu-item:last-of-type {
  margin-top: auto !important;
}
